{% extends "juice/templates/index.html" %}
<!-- <link rel="stylesheet" href="css/style.css"> -->
{% block hero %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
        <section class="text-center">
            <style>
                .save {
                    font-size: 60px;
                }

                @media only screen and (max-width: 600px) {
                    .save {
                        font-size: 30px;
                        padding-top: 300px;
                        margin-top: 100px;
                    }
                
                    .hero-image {
                        display: none;
                    }

                }
            </style>
            <h1 class="heading-text save">
                Welcome to the 2nd annual virtual CS[-ish] PhD recruiting event!
            </h1>
            <h3 style="text-align: left;">
            <!-- <p style="font-size: x-large; text-align: justify; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                Welcome to our second annual virtual CS[-ish] PhD recruiting event! <a href="2020.phd-recruiting.com">This event began</a> as a way for 
                faculty who started during the pandemic to network with potential students, since traditional recruitment avenues 
                like academic conferences moved to virtual in 2020, creating a setback for these junior scholars. 
                These folks then realized that a virtual event could appeal to a far broader pool of great future researchers 
                by being general interest and virtual.</p> -->
                PhD training is more than just earning another degree &mdash; it is an apprenticeship and as such improving transparency about 
                the process helps all parties. This event seeks to <i>inform</i> prospective students about what the PhD really is and 
                <i>match</i> student with prospective advisors. We especially welcome folks who are <i>uncertain about whether the PhD is for them</i>.
                <!-- <p style="font-size: x-large; text-align: justify;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"><i>New faculty</i> who are looking to hire students; these are folks who may not yet be well-known and therefore are not targeted by prospective students.</p>
                <p style="font-size: x-large; text-align: justify;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"><i>Prospective graduate students</i> who are curious about the PhD and the PhD application process. We especially welcome prospective students who are uncertain about whether a PhD is for them.</p> -->
                                
        </h3>
            <h3 class="title-text" style="background-color: aqua; border-radius: 25px; padding: 15px;">
                This event has passed, but there is still time to connect with faculty! Join our <a href="https://discord.gg/UDvsFaKqWF">Discord server</a> and <a href="https://groups.google.com/g/2022-csish-phd-applications">Google Group</a>.
            </h3>
            <!-- <h3>We are actively recruiting <a href="#panelist-recruiting">panelists</a> and <a href="#prospective-student-participants">student participants</a>. </h3> -->
        </section>
        <img class="hero-image" style="width: 50%" src="{{ get_url(path="img/cap.png") }}">

        <div class="explore-more text"
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            Explore More ⇩
        </div>
        <style>
            .hero section {
                padding: 0 5rem;
            }
            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
{% endblock hero %}

{% block toc %}

{% if section.toc %}
    {% set toc = section.toc %}
{% elif page.toc %}
    {% set toc = page.toc %}
{% else %}
    {% set toc = [] %}
{% endif %}

{% if section.pages %}
    {% for page in section.pages %}
        {% if page.toc %}
            {% set_global toc =  toc | concat(with=page.toc) %}
        {% else %}
        {# ASDF*{{__tera_context}}*FDSA #}
        {% endif %}
    {% endfor %}
{% endif %}

{% if section.subsections %}
    {% for page in section.subsections %}
        {% set page = get_section(path=page) %}
        {% if page.toc %}
            {% set_global toc =  toc | concat(with=page.toc) %}
        {% else %}
        {# FDSA*{{__tera_context}}*ASDF #}
        {% endif %}
    {% endfor %}
{% endif %}

{% if toc %}
<div class="toc">
    <div class="toc-sticky">
        {% for h in toc %}
        <div class="toc-item">
            <a class="subtext" href="#{{h.id | safe}}">{{ h.title }}</a>
        </div>
        {% if h.children %}
        {% for h2 in h.children %}
        <div class="toc-item-child">
            <a class="subtext" href="{{h2.permalink | safe}}" style="pointer-events: none;"><small>- {{ h2.title }}</small></a>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock toc %}





{% block content %}

{% if section.content %}
    {{ section.content }}
{% endif %}

{% if section.pages %}
    {% for page in section.pages %}
        {{ page.content  | safe  }}
    {% endfor %}
{% endif %}

    <style>
        .faculty {
            width: 44%;
            min-height: 336px;
            margin: 0px 0px 10px 10px;
            padding: 10px 10px 10px 10px;
            background-color:teal ;
            text-align: left;
            font-size: 12pt;
            border-radius: 7px;
            color: black;
            border-style: solid;
        }

        .faculty img {
            max-width: 128px; 
            max-height:128px;
            border-radius:5px;
            float:right;
            margin-left: 10px;
            margin-top: 5px;
            border-color: black;
            border-style: outset;
            border-width: thick;
        }

        .faculty li {
            padding-left: 0px;
        }

        @media screen and (max-width: 480px) {
            .faculty {
                width: 100%;
            }
        }
    </style>

    {% if section.subsections %}
    {% for page in section.subsections %}

        {% set section =  get_section(path=page) %}
        {% if section.content %}
            {{  section.content | safe }}
            {% if section.pages %}
            <div width="100%">
                {% for subpage in section.pages | sort(attribute="extra.weight") %}
                    {% if subpage.extra %}
                    {% if not subpage.extra.img %}                    
    <div class="faculty" style="float:left; min-height: 290px;">
                    {% else %}                    
    <div class="faculty" style="float:left">            
                    {% endif %}
        
        <div >
            <p width="100%"><b>Name</b>:&nbsp;<a href="{{subpage.extra.prof_url | safe}}">Prof. {{ subpage.extra.first }} {{subpage.extra.last}}</a><br/>
                <b>Institution</b>:&nbsp; <a href="{{subpage.extra.grad_url | safe}}">{{subpage.extra.institution}}</a><br/>

                        {% if subpage.extra.institution_note %}
                <span style="font-size: 10pt;">&nbsp;({{subpage.extra.institution_note}})</span><br/>
                        {% endif %}
            </p>
        </div>
        <div>
                        {% if subpage.extra.img %}
            <img alt="{{ subpage.extra.last }}"
                src="{{ subpage.extra.img | safe }}"
                />   
                        {% endif %}
            <p><b>Research Area(s)</b>:&nbsp; {{subpage.extra.area}}</p>
            {{ subpage.content | safe }}
        </div>
    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
{% endif %}


{% endblock content %}

